<div [formGroup]="sortForm">
  <mat-form-field>
    <mat-label>Order by property</mat-label>
    <mat-select formControlName="sortProperty">
      <mat-option
        *ngFor="let sortOption of orderByProperties"
        [value]="sortOption.sortPropertyValue"
        >{{ sortOption.sortPropertyName }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Order by direction</mat-label>
    <mat-select formControlName="orderDirection">
      <mat-option
        *ngFor="let orderDirection of orderByDirections"
        [value]="orderDirection.value"
        >{{ orderDirection.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <button mat-button (click)="sort()">Sort</button>
</div>
